body {
  font-family: "Titillium Web";
}

h2 {
  position: relative;
}

/* h2::before {
  content: "";
  position: absolute;
  left: 120%;
  width: 120%;
  height: 100%;
  background: linear-gradient(90deg, transparent 0%, #1f2937 5%, #1f2937 100%);
  animation: anime 5.5s linear forwards;
}
@keyframes anime {
  0% {
    left: 120%;
  }
  100% {
    left: -20%;
  }
} */
