@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
*,
body {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  background: #f1f1f1;
}

.text {
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 12em;
  line-height: 0.9em;
  text-align: center;
  transform: rotate(-25deg) skew(25deg);
}

.text::after {
  content: attr(data-text);
  position: absolute;
  top: 35px;
  left: -50px;
  color: rgba(0, 0, 0, 0.3);
  text-shadow: none;
  filter: blur(10px);
  z-index: -1;
}
